body {
  margin: 0px;
}

header {
  background-color: #322e2b;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
  padding-block: 10px;
}

.header-links {
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.header-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.header-img {
  width: 80px;
}
